.app-layout-left {
  color: var(--main-button-font-color);
}
.app-layout-top {
  color: var(--main-button-font-color);
}
.app-layout-right {
  color: var(--main-button-font-color);
}
.app-layout-bottom {
  color: var(--main-button-font-color);
}
