.app-layout {
  height: 100vh;
  width: 100vw;
  & .app-layout-left {
    color: var(--main-text-font-color);
  }
  & .app-layout-top {
    color: var(--main-text-font-color);
  }
  & .app-layout-right {
    color: var(--main-text-font-color);
  }
  & .app-layout-bottom {
    color: var(--main-text-font-color);
  }
}
