:root {
  --main-background-color: black;
  --main-text-font-color: white;
}
html {
  background-color: var(--main-background-color);
}

html,
body {
  margin: 0;
  padding: 0;
}
h1,
p {
  margin: 0 0 1em;
}
